{% extends 'base.html' %}
{% block content %}
    {% if response %}
<pre>
<code class="line-numbers language-{{linguagem}}">
        {{response}}
</code>
</pre>
    <br>
    {% else %}

    <pre>
        <code class="line-numbers language-python">
        if code == None:
            print("Não tenho código para exibir")
        else:
            print(code)
        </code>
    </pre>
    <br>

    {% endif %}

   
    {% with placeholder="Digite a instrução para que a I.A crie o código" view_url="criacao" %}

        {% include "code_form.html" %}

    {% endwith %}

    

{% endblock content %}
