{{% comment "" %} Help do username  {% endcomment %}}

<span class="form-text text-muted">
    <small>
        No máximo 150 caracteres. Letras, números e @/./_/-/ somente
    </small>
</span>

{{% comment "" %} Help do password 1  {% endcomment %}}

<ul class="form-text text-muted small">

    <li>
        Seu password não pode ser similar a outras informações pessoais.
    </li>
    <li>
        Seu password precisa conter no mínimo 8 caracteres.
    </li>
    <li>
        Seu password não pode ser uma senha comum.
    </li>
    <li>
        Seu password não pode conter apenas números.
    </li>
</ul>

{{% comment "" %} Help do password 2 {% endcomment %}}

<span class="form-text text-muted">
    <small>
        Para verificação é necessário digitar o mesmo password.
    </small>
</span>